* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  height: 100vh;

  display: flex;

  align-items: center;

  justify-content: center;

  perspective: 1600px;

  overflow: hidden;
}

/* animated pink bg */

.bg {
  position: fixed;

  inset: 0;

  background: linear-gradient(270deg, #ff9ecb, #ff6cab, #ff2f92, #ff6cab);

  background-size: 800% 800%;

  animation: bgMove 20s ease infinite;

  z-index: -3;
}

@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* layers */

#hearts,
#confetti {
  position: fixed;

  inset: 0;

  pointer-events: none;

  z-index: -2;
}

/* 3D phone */

.phone {
  width: 390px;

  height: 780px;

  border-radius: 34px;

  overflow: hidden;

  background: rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(25px);

  box-shadow: 0 60px 160px rgba(0, 0, 0, 0.55);

  transition: transform 0.15s linear;
}

/* intro */

.intro {
  position: absolute;

  inset: 0;

  background: #111;

  color: white;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 26px;

  z-index: 5;

  animation: introFade 3s forwards;
}

@keyframes introFade {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* scene */

.scene {
  height: 100%;

  padding: 26px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  gap: 20px;

  animation: sceneIn 0.7s ease;
}

@keyframes sceneIn {
  from {
    opacity: 0;
    transform: translateX(80px) scale(0.95);
  }

  to {
    opacity: 1;
  }
}

.card {
  background: rgba(255, 255, 255, 0.95);

  padding: 22px;

  border-radius: 22px;

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.18);

  font-size: 16px;

  line-height: 1.5;

  text-align: center;
}

.btn {
  padding: 14px;

  border: none;

  border-radius: 20px;

  background: #111;

  color: white;

  font-weight: 700;

  font-size: 15px;

  cursor: pointer;

  transition: 0.25s;
}

.btn:hover {
  transform: scale(1.06);
}

.card h5 {
  margin-bottom: 12px;
}

.card img {
  border-radius: 12px;
  max-width: 100%;
}

main {
  height: 100%;
}
